
<router-outlet class="header">
  <nav class="nav-bar">
  <ul class="nav-links">
    <li>
      <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
    </li>

    <li>
      <a routerLink="/about" routerLinkActive="active" class="nav-link">About</a>
    </li>

    <li>
      <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact</a>
    </li>
  </ul>
  </nav>
</router-outlet>

  <!-- Main Content Section -->
  <div class="container">
    <!-- Main router outlet for dynamic content -->
    <router-outlet></router-outlet>
  </div>

