<div class="vh-100 vw-100 position-relative d-flex align-items-center justify-content-center" 
     style="background: url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExZ25lcTI1Zm45eXRmeXRrc3JtNG10cjB1aGJ0Z2F6N2ZwcHl2MHZhMSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/7FrOU9tPbgAZtxV5mb/giphy.gif') no-repeat center center; background-size: cover;">
  <div class="position-absolute top-0 start-0 w-100 h-100" 
       style="backdrop-filter: blur(8px); background: rgba(255, 255, 255, 0.1);">
  </div>
  <div class="position-relative text-center">
    <h1 class="text-white mt-3">Welcome To Homepage</h1>
      <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExOXB6dTF2aWF1OTV1eXp2bzEzam1wdHB0NXhmemNkcnMyNHFxcmJtdSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/5k5vZwRFZR5aZeniqb/giphy.gif"  alt="" class="img-fluid rounded-4 shadow-lg" style="max-width: 700px;">
  </div>
</div>
